<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.mgx.med.ctgov.refresh</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>-lc</string>
    <string>PATH=/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin TOPIC=sepsis ~/.local/med/refresh_ctgov.sh</string>
  </array>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key><integer>2</integer>
    <key>Minute</key><integer>5</integer>
  </dict>
  <key>StandardOutPath</key><string>${HOME}/Library/Logs/med-ctgov.log</string>
  <key>StandardErrorPath</key><string>${HOME}/Library/Logs/med-ctgov.err</string>
</dict>
</plist>
